@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&Epilogue:wght@400;600;800&display=swap');;

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

h1, h2{
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
}

.App {
  text-align: left;
}


